<div class="post-entry" style="padding: 3%;">
    <a href="#">
        <img src="assets/images/img_2.jpg" alt="Image" class="img-fluid">
    </a>
    <div class="caption">
        <div class="caption-inner">
            <h3 class="mb-3">{{ teamObj.name }}</h3>
            <div class="author d-flex align-items-center">
               
                <div class="text">
                    <h4>{{ teamObj.owner }}</h4>
                    <span>{{ teamObj.foundation }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

